* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
}

html, body {
  height: max-content;
  min-height: 100%;
}

body {
  background: linear-gradient(to bottom, #4568DC 0%, #B06AB3 100%);
  font-family: sans-serif;
}

.container {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
}